body {
    background-color: #202124;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    align-items: center;
    float: right;
}

#logo-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    align-items: center;
    float: left;
    padding-left: 12px;
}

.navbar > a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: white;
    vertical-align: middle;
}

.navbar > a:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    box-sizing: border-box;
}

.logo {
    max-height: 92px;
    height: 100%;
    margin-top: auto;
}

.logo > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.container {
    margin-top: 20px;
    max-height: 160px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.form-container {
    margin: 0 auto;
    width: 640px;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.searchbar > input {
    height: 44px;
    background-color: transparent;
    border: 1px solid #5f6368;
    border-radius: 24px;
    width: 100%;
    box-sizing: border-box;
    max-width: 584px;
    box-shadow: none;
    color: white;
    padding-left: 20px;
    font-size: 18px;
}

.searchbar > input:hover {
    background-color: #303134;
    border: 1px solid #303134;
    box-shadow: #202124;
}

.searchbar > input:focus {
    background-color: #303134;
    outline: none;
    border: 1px solid #303134;
    box-shadow: #202124;
}

.searchbar > span {
    padding-left: 2.375rem;
}

.search-button {
    height: 70px;
    padding-top: 18px;
}

.search-button input {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-button input:hover {
    border-color: #5f6368;
}

.appbar {
    padding: 0;
    border: 0;
}

.appbar > label {
    margin-left: 45px;
    vertical-align: baseline;
    color: #f28b82;
    font-size: 20px;
}

.line {
    border-bottom: 1px solid;
    margin: 0;
    padding: 0;
    border-color: #3c4043;
    margin-top: 20px;
    margin-bottom: 20px;
}

.advanced-container {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.head {
    width: 100%;
    clear: both;
}

.options {
    width: 100%;
    clear: both;
}

.option {
    clear: both;
}

.find-with {
    color: #bdc1c6;
    float: left;
    min-width: 167px;
    width: 16%;
    height: 42px;
    font-size: 13px;
    line-height: 16px;
}

.cell1 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.space {
    float: left;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
}

.cell2 {
    padding-right: 16px;
}

.advanced-container input {
    width: 100%;
    text-align: left;
    outline: white;
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.advanced-container input:focus {
    border-color: steelblue !important;
}

.do-this {
    color: #969ba1;
    float: left;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    font-size: 11px;
    padding-left: 5px;
    position: relative;
}

.cell3 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.advanced-container span {
    color: #dadce0;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

#button {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    background: steelblue;
    color: white;
    box-shadow: none;
    border: 1px solid steelblue;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: none;
    width: 25%;
}

#button:hover {
    background-color: lightblue;
    color: #202124;
}

.search-button{
    text-align: center;
}